<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Heatx</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#page-top">
        <h1>HeatX</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link" href="#sos">Alert</a></li>
          <li class="nav-item"><a class="nav-link" href="#portfolio">SOS</a></li>
          <li class="nav-item"><a class="nav-link" href="#resources">Resources</a></li>
          <li class="nav-item"><a class="nav-link" href="#mapping">Mapping Tools</a></li>
          <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="/blog">Donate</a></li>
          <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead">
    <div class="container">
      <div class="masthead-subheading">Welcome To HeatX!</div>
      <div class="masthead-heading text-uppercase">Keeping The World Together</div>
        <!-- <h4><a style="text-decoration:none" href="#" class="text-light bg-dark">An innovative approach towards resolving and spreading awareness about forest fires.</a></h4>
      <br> -->
      <a class="btn btn-primary btn-xl text-uppercase text-dark" href="#">Calculate Risk</a>
    </div>
  </header>

  <section class="page-section bg-light">
    <div class="text-center masthead-subheading text-muted"><h4><em>"An innovative approach towards resolving and spreading awareness about forest fires."</em></h4></div>
  </section>
  <!-- sos-->
  <section class="page-section" id="sos">
    <div class="container">
      <div class="text-center">
        <div class="text-center">
          <img src="assets/img/alert.gif" height="200px">
        </div>
        <h2 class="section-heading text-uppercase">Alert</h2>
        <h3 class="section-subheading text-muted">Alerts regarding forest Fires provided by the users worldwide.</h3>
      </div>
      <div class="text-center">
        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 1300px; max-height: 300px;">
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @10:30AM, Description: potential cause was BBQ party gone wrong.</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @around 11AM today, Description: started by debris burning.</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @1PM, Description: sparks thrown from equipment and railroads.</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @10:30AM, Description: Potential cause was BBQ party gone wrong.</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @around 6AM today, Description: power lines malfunction</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @10:30AM, Description: sparks thrown from railroads.</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @10:30AM, Description: potential cause was BBQ party gone wrong.</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @around 11AM today, Description: started by debris burning.</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @1PM, Description: sparks thrown from equipment and railroads.</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @10:30AM, Description: Potential cause was BBQ party gone wrong.</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @around 6AM today, Description: power lines malfunction</h6><br>
          <h6><a href="https://goo.gl/maps/MhWL77ts8apn2RJS7" class="text-primary">Link for location</a> @10:30AM, Description: sparks thrown from railroads.</h6><br>
        </div>
      </div>
      <br />

    </div>
  </section>
  <!-- Portfolio Grid-->
  <section class="page-section bg-dark" id="portfolio">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase text-white">SOS</h2>
        <h3 class="section-subheading text-muted">Type Your location to obtain your nearest helpline numbers.</h3>

        <form>
          <div class="form-group mb-md-0">
            <input class="form-control" type="text" placeholder="City Name">
            <br />
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Search</button></div>
          </div>

          <br />
        </form>

      </div>


    </div>
  </section>
  <!-- resources-->
  <section class="page-section bg-light" id="resources">
    <div class="container">

      <div class="text-center">
        <h2 class="section-heading text-uppercase">Resources</h2>
        <h3 class="section-subheading text-muted">The resources given below have been reseached throughly.</h3>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img class="card-img-top" src="https://www.anthropocenemagazine.org/wp-content/uploads/2020/09/Unknown-13.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Conditions affecting risk factor for threats</h5>
              <p class="card-text">
              <p>A combination of Low humidity, Consistently high temperatures, Lightning. Of the fires that got close enough to threaten people’s homes, 96% were caused by human actions...</p>
              </p>
              <a href="https://www.anthropocenemagazine.org/2020/09/humans-cause-most-wildfires-that-threaten-homes-in-the-united-states/" class="btn btn-primary btn-xl text-uppercase">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <img class="card-img-top" src="https://media.fisheries.noaa.gov/styles/original/s3/dam-migration/smooth-hammerhead.jpg?itok=ZLjgh7cQ" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Threats Posed by Extreme Heat</h5>
              <p class="card-text">
              <p>Marine heat waves across the world’s oceans can displace habitat for sea turtles, whales, and other marine life by 10s to thousands of kilometers. Click the link below to know more.</p>
              </p>
              <a href="https://www.fisheries.noaa.gov/feature-story/ocean-heatwaves-dramatically-shift-habitats" class="btn btn-primary btn-xl text-uppercase">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img class="card-img-top" src="https://www.safeyglobal.com/wp-content/uploads/2017/03/Heat-Paki.jpg" alt="Card image cap" height="300em">
            <div class="card-body">
              <h5 class="card-title">Heat Waves: A Case study</h5>
              <p class="card-text">In recent years, excessive heat has caused more deaths globally than all other weather events. A heat wave is a prolonged period of excessive heat...</p>
              <a href="https://www.safeyglobal.com/case-study-heatwave-in-pakistan" class="btn btn-primary btn-xl text-uppercase">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <img class="card-img-top" src="https://www.directenergy.com/images/learningcenter/heatwaveForm.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">What exactly are Heat Waves</h5>
              <p class="card-text">
              <p>A heat wave is an extremely dangerous weather condition where temperatures soar well above 90° F. This high heat combines with high levels of humidity...</p>
              </p>
              <a href="https://www.directenergy.com/learning-center/heatwave" class="btn btn-primary btn-xl text-uppercase">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img class="card-img-top" src="https://www.epa.gov/themes/epa_theme/images/epa-seal.svg" alt="Card image cap" height="440em">
            <div class="card-body">
              <h5 class="card-title">Health problems caused by Extreme Heat</h5>
              <p class="card-text">Heat islands increase demand for air conditioning to cool buildings. In an assessment of case studies spanning locations in several countries, electricity demand for air conditioning increased approximately 1–9% ...</p>
              <a href="https://www.epa.gov/heatislands/heat-island-impacts" class="btn btn-primary btn-xl text-uppercase">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <img class="card-img-top" src="https://ygrene.com/sites/default/files/styles/blog_node_full_desktop/public/GettyImages-590609362%202.jpg?itok=5wtfBpkG&timestamp=1533253968" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Public measures that can be implemented</h5>
              <p class="card-text">
              <p>General Awareness programs, Heat alerts! (As we are implementing in our design), Increasing water availability to poorer and more interior regions, Architectural guidelines for cooler homes ...</p>
              </p>
              <a href="https://ygrene.com/blog/property-improvements/how-heat-proof-your-house" class="btn btn-primary btn-xl text-uppercase">Learn More</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="page-section bg-light" id="mapping">
    <div class="container">
      <div class="text-center">
      <h2 class="section-heading text-uppercase">Mapping Tools</h2>
  <div class="d-flex justify-content-center">
    <iframe width="800em" height="500em" frameborder="0" scrolling="no" allowfullscreen src="https://arcg.is/0H5LS1"></iframe>
  </div>

  <div class="d-flex justify-content-center">
    <iframe width="800em" height="500em" frameborder="0" scrolling="no" allowfullscreen src="https://arcg.is/1zDDC9"></iframe>
  </div>

  <div class="d-flex justify-content-center">
    <iframe width="800em" height="500em" frameborder="0" scrolling="no" allowfullscreen src="https://arcg.is/1DaGSj0"></iframe>
  </div>

  <div class="d-flex justify-content-center">
    <iframe width="800em" height="500em" frameborder="0" scrolling="no" allowfullscreen src="https://arcg.is/1nbuHL"></iframe>
  </div>
</div>
</div>
</section>

  <!-- Team-->
  <section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">that made this possible.</h3>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/Amit.jpg" alt="..."/>
            <h4>Amit Thomas</h4>
            <p class="text-muted">Role played by person</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/amithomas31415/"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://github.com/Thomasthe-train"><i class="fab fa-github"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/amit-thomas-4746ab222/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/anusha.jpg" alt="..." />
            <h4>Anusha Jain</h4>
            <p class="text-muted">Role played by person</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/anusha.xox/"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://github.com/anusha-xox"><i class="fab fa-github"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/anusha-jain-377773216/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/grace.jpg" alt="..." />
            <h4>Grace Matson</h4>
            <p class="text-muted">Role played by person</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/pianolove1010/"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://github.com/GraceMatson"><i class="fab fa-github"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/grace-matson-53b8a8204/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/srishti.jpg" alt="..." />
            <h4>Srishti Goel</h4>
            <p class="text-muted">Role played by person</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/srishti.goel.011/"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://github.com/Srishti-Goel/"><i class="fab fa-github"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/srishti-goel-632470205/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">We would like to thank NASA Space Apps Challange 2021 for giving an opportunity to work on this project <em>(Warning: Things are heating up!)</em></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact-->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Contact Us</h2>
        <h3 class="section-subheading text-muted">To get in touch with the developers, fill out the form given below.</h3>
      </div>
      <form id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="row align-items-stretch mb-5">
          <div class="col-md-6">
            <div class="form-group">
              <!-- Name input-->
              <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <div class="form-group">
              <!-- Email address input-->
              <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
              <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
              <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
            </div>
            <div class="form-group mb-md-0">
              <!-- Phone number input-->
              <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
              <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-textarea mb-md-0">
              <!-- Message input-->
              <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
              <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
            </div>
          </div>
        </div>

        <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
      </form>
    </div>
  </section>
  <!-- Footer-->
  <footer class="footer py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 text-lg-start">Copyright &copy; HeatX 2021</div>
        <div class="col-lg-4 my-3 my-lg-0">
          <!-- <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a> -->
        </div>
        <div class="col-lg-4 text-lg-end">
          <!-- <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
          <a class="link-dark text-decoration-none" href="#!">Terms of Use</a> -->
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>
